* {
 font-family: Verdana, Geneva, sans-serif;
}
a:link {text-decoration:none; color:#000099;}
a:visited {text-decoration:none; color:#000099;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

html {
  scroll-behavior: smooth;
}

body { 
padding-top:0px;
background-color:#FFFFFF;
}

.header {
  font-size: 9em;
  font-weight: 900;
  width: 100%;
  margin-top:-0.3em;
  margin-left:-0.03em;
}

/* The progress container (gray background) */
.progress-container {
  width: 100%;
  height: 5px;
  background: #444;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  background: #4caf50;
  width: 0%;
} 


/* Top navigation */
.topnav {
  background-color: #444;
  opacity: 0.85;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;          /* Position the navbar at the top of the page */
  width: 100%;     /* Full width */
}

/* Links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 1.3em;
}

/* Links when hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


/* side by side images */
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 5px;
}
/* --- */


h1 {
font-size: 1.8em;
color: #555;
margin-top:2.5em;
padding-left: 0.2em;
}
h2 {
font-size: 1.8em;
color: #555;
margin-top: 1.9em;
}
h3 {
color: #555;
font-size: 1.5em;
}
h4 {
color: #555;
font-size: 1em;
}

/* bolded */
b {
color: #2c2c2c;
}
boldlink {
font-weight: 900;
}

/* paragraph */
p {
-margin-bottom: 1em;
}

/* horizontal break */
hr {
  border-top: 2px solid #474747;
}

/* static font */
fix {
-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
user-select: none;          /* Future */  
}

/* bullet list */
ul{
font-weight: bold;
}

li{
margin: 0.3em 0;
list-style-type: upper-armenian;
background-color: white;
}
li span {
font-weight: normal;
}

/* code block */
.code {
background-color:#F0F0F0;
color:#333;
margin-top:0.5em;
margin-bottom:0.5em;
}

.left-column
{
padding-left: 0.4em;
float:left;
width:auto;
background-color:white;
}
.right-column
{
float:right;
width:auto;
background-color:white;
}
.center-column
{
margin:auto;
width:50em;
background-color:white;
}

